<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="cpu" class="com.spring01.impl.AMDcpu"/>


    <bean id="memory" class="com.spring01.impl.KingstonMemory"/>

    <bean id="computer" class="com.spring01.impl.Computer">
        <property name="brand" value="华硕"/>
        <property name="cpu" ref="cpu"/>
        <property name="memory" ref="memory"/>
    </bean>
</beans>